# Data files
LCF.dta
cleaned_df.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# CatBoost training logs
catboost_info/

# Environment
.env
.venv/

# OS files
.DS_Store